<div class="form">
  <div class="form-top">
    <%= link_to get_started_path do %> < Cancel <% end %>
    <h2 class="form-title">Forgot your password?</h2>
  </div>
  <div class="form-view not-logged">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div>
        <%= f.email_field :email, placeholder: :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="actions">
        <%= f.submit "Send me reset password instructions" %>
      </div>
      <div class="other-actions">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
