<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/1097d30f85.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div data-controller="toggle">
      <%= render "layouts/navbar" %>
      <p id="notice" data-toggle-target="notice" data-toggle-test-value="<%= notice %>" ><%= notice %></p>
      <div data-toggle-target="view" class="view">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
