<div id="<%= dom_id operation %>">
  <p>
    <strong>Name:</strong>
    <%= operation.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= operation.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= operation.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= operation.group_id %>
  </p>

</div>
