<p style="color: green"><%= notice %></p>
<%= link_to root_path do %> < Back <% end %>

<h1><%= @group.name %></h1>
<div>Total: $<%= @group.total %></div>

<div id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>
  <% end %>
</div>

<%= link_to "New operation", new_operation_path %>
